Source: json2csv
Section: misc
Priority: optional
Maintainer: Luca Vercelli <luca.vercelli.to@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 default-jdk,
 junit5,
 libmaven-compiler-plugin-java,
 libmaven-shade-plugin-java,
 libsurefire-java,
 libmaven-jar-plugin-java,
 maven-debian-helper (>= 2.6~),
 libcommons-io-java,
 libcommons-csv-java,
 libjcommander-java,
 libjsonp-java
Standards-Version: 4.5.1
Homepage: https://github.com/luca-vercelli/json2csv/

Package: json2csv
Architecture: all
Depends:
 jarwrapper,
 ${misc:Depends}
Description: CLIS tool for converting JSON files to CSV format
 Take one or more JSON files, outputs a single comma-separated-value file.
 Several options available.
 Full join of list attributes is performed.
